
      <mat-card class='card-home'>
        <mat-card-header>
          <mat-card-title>Salary</mat-card-title>
          <mat-card-subtitle>cash flow of salary</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>                

      <mat-card class='card-home'>
          <mat-card-header>
            <mat-card-title>Bank - Checking</mat-card-title>
            <mat-card-subtitle>cash flow of checking bank account</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>                

        <mat-card class='card-home'>
            <mat-card-header>
              <mat-card-title>Bank - Saving</mat-card-title>
              <mat-card-subtitle>cash flow of saving bank account</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>                
